apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jaco-data
  namespace: jaco
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 20Gi
